:root {
  --nav-background: #3c3a39;
  --main-background: #1c1a19;
  --font-color-1: #fff;
  --font-color-2: #ff6b00;
  --font-round: "Crete Round", serif;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
}

/* General styling */

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--font-color-1);
}

li {
  list-style: none;
}

body {
  background-color: var(--main-background);
  color: var(--font-color-1);
}

/* Nav styling */

nav {
  background-color: var(--nav-background);
  color: var(--font-color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 18px;
}

.nav-elements {
  display: none;
}

.menu-container {
  border: none;
  outline: none;
  background: transparent;
}

/* main */

main {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.home-page {
  padding: 0 15px;
}

.header {
  font-family: var(--font-round);
  color: var(--font-color-2);
  font-weight: 400;
  font-size: 56px;
  text-align: left;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin: 10px 0;
}

.description-heading {
  font-family: var(--font-roboto);
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.description-para {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
}

.icons-container {
  margin-top: 10px;
  text-align: left;
  margin-left: -120px;
  display: flex;
}

.main-icon {
  margin: 10px;
}

.illustration-container {
  width: 150px;
  height: 320px;
  background-repeat: no-repeat;
  background-image: url("./assest/Illustration.svg");
  position: absolute;
  bottom: 0;
  right: 0;
}

/* WORK SECTION */

.work {
  background: var(--font-color-1);
  color: var(--main-background);
  padding: 100px 0;
}

.work-header {
  text-align: center;
  font-family: var(--font-round);
  font-size: 40px;
  line-height: 52px;
  font-weight: normal;
}

.work hr {
  width: 84%;
  border: none;
  border-bottom: 1px solid #212121;
  margin: 24px auto;
}

.work-project-display {
  text-align: center;
}

.work-grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    ". work-main-grid ."
    ". grid-1 ."
    ". grid-2 ."
    ". grid-3 ."
    ". grid-4 ."
    ". grid-5 ."
    ". grid-6 .";
}

/* MAIN GRID */

.work-main-grid {
  grid-area: main-grid;
}

.work-project-description {
  margin: 1px 25px;
  text-align: left;
}

.work-project-description li {
  margin-left: -17px;
  margin-right: 30px;
}

.work-project-header {
  font-family: var(--font-round);
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
}

.lang-list-ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
}

.lang-list {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  margin: 14px 20px;
  border: 1px solid #8993a4;
  padding: 10px;
}

.project-btn {
  color: var(--font-color-1);
  border: none;
  outline: none;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-left: 0;
  width: 124px;
  height: 48px;
  background: var(--font-color-2);
}

/* General Grid Styling */

.work-grid-container {
  position: relative;
}

.grid-project-container {
  margin: 50px auto 0 auto;
  width: 300px;
  height: 368px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
}

.grid-project-header {
  font-family: var(--font-round);
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
  padding: 0 20px;
  color: var(--font-color-1);
}

.grid-project-description {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
  padding: 0 20px;
  color: var(--font-color-1);
}

.grid-lang-list {
  background: rgba(255, 255, 255, 0.24);
  color: var(--font-color-1);
  margin: 23px 12px;
}

.grid-btn {
  background: var(--font-color-2);
  border: none;
  outline: none;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  letter-spacing: 0.03em;
  color: var(--font-color-1);
}

/* GRID 1 */

.grid-1 {
  grid-area: grid-1;
  background: url('./assest/ImgPlaceholder1.png');
}

.grid-project1,
.grid-project4 {
  padding-top: 60px;
  width: 300px;
  height: 380px;
  position: absolute;
  background: url('./assest/project-placeholder.png');
}

.grid-2 {
  grid-area: grid-2;
}

.grid-project2,
.grid-project5 {
  padding-top: 60px;
  width: 300px;
  height: 380px;
  position: absolute;
  background: url('./assest/ImgPlaceholder2.png');
}

.grid-3 {
  grid-area: grid-3;
}

.grid-project3,
.grid-project6 {
  padding-top: 60px;
  width: 300px;
  height: 380px;
  position: absolute;
  background: url('./assest/ImgPlaceholder3.png');
}

.grid-4 {
  grid-area: grid-4;
}

.grid-5 {
  grid-area: grid-5;
}

.grid-6 {
  grid-area: grid-6;
}

/* grid button hover */

.grid-btn:hover,
.project-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.grid-btn:active,
.project-btn:active {
  background: #e05304;
  color: var(--font-color-1);
}

.grid-btn:disabled,
.project-btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

/* About Section */

.about {
  text-align: center;
}

.about-header {
  font-family: var(--font-round);
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  margin: 120px auto 0 auto;
  letter-spacing: 0.37px;
  color: var(--font-color-2);
}

.about-description {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 20px;
  text-align: left;
}

.about-btn {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  background: var(--font-color-2);
  margin-top: 10px;
  margin-left: 20px;
}

.about-illustration {
  width: 100%;
  text-align: right;
  padding-top: -80px;
}

.about-line {
  width: 90%;
  border: none;
  margin: 30px auto;
  border-top: 1px solid white;
}

/* SKILLS */

.skills {
  text-align: center;
  margin-top: 100px;
}

.skills-lang {
  margin: 70px 0;
}

.skill-lang-header {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0 12px;
}

.skill-lang-li {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  margin: 20px auto;
}

/* Contact-me section */
.contact {
  background-color: var(--font-color-1);
  padding: 0 24px;
}

.contact-description {
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 24px 0;
  font-family: var(--font-inter);
  padding-top: 120px;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 100px;
}

input,
textarea {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  padding: 15px 16px;
  outline: none;
}

input::placeholder {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

textarea {
  background-color: #fbf8f7;
  border: none;
}

textarea::placeholder {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.submit {
  align-self: center;
}

.form-line {
  margin: 0;
  border: none;
  border-bottom: 1px solid #dfe1e6;
}

.form-icons-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

footer {
  background: var(--font-color-1);
}

@media screen and (min-width: 1000px) {
  
  .menu-container {
    display: none;
  }

  .nav-elements,
  .mail {
    display: block;
  }

  .nav-elements {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
  }
  .nav-list {
    margin-left: 20px;
    padding: 10px;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  /* main */

  main {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    padding: 0 20px;
    height: 110vh;
  }

  .home-page {
    width: 550px;
    padding: 0 15px;
  }

  .header {
    font-size: 72px;
    line-height: 81px;
    margin: 24px 0;
  }

  .description-heading {
    font-family: var(--font-inter);
    font-size: 32px;
    line-height: 44px;
    margin: 24px 0;
  }

  .description-para {
    font-family: var(--font-inter);
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    margin: 24px 0;
  }

  .icons-container {
    margin-left: 20px;
    margin-right: 50px;
    flex-direction: column;
  }

  .main-icon {
    margin: 12px;
  }

  .illustration-container {
    width: 520px;
    height: 710px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('./assest/Illustration-header.png');
    position: absolute;
    right: 0;
    top: 10%;
  }

  /* WORK SECTION */

  .work {
    padding: 100px 150px;
  }

  .work-header {
    text-align: left;
  }

  .work hr {
    width: 790px;
    border: none;
    border-bottom: 1px solid #212121;
    margin-top: -24px;
    margin-right: 80px;
  }

  .work-main-grid {
    display: flex;
  }

  .work-project-display img {
    width: 680px;
  }

  .work-project-description {
    display: flex;
    width: 440px;
    margin: 24px 60px;
    font-size: 20px;
    line-height: 28px;
    flex-direction: column;
  }

  .work-project-header {
    font-size: 40px;
    line-height: 52px;
    margin: 0 0 24px 0;
  }

  .lang-list-ul {
    margin: 24px -10px;
  }

  .grid-btn {
    display: none;
  }
  .work-grid-container {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "grid-1 grid-2 grid-3"
      "grid-4 grid-5 grid-6";
    position: relative;
  }

  .grid-project1 {
    position: absolute;
    background: url('./assest/project-placeholder.png');
  }

  /* GRID */

  .grid-1 {
    grid-area: grid-1;
    background: url('./assest/ImgPlaceholder1.png');
  }

  .grid-2 {
    grid-area: grid-2;
  }

  .grid-3 {
    grid-area: grid-3;
  }

  .grid-4 {
    grid-area: grid-4;
  }

  .grid-5 {
    grid-area: grid-5;
  }

  .grid-6 {
    grid-area: grid-6;
  }

  /* ABOUT SECTION */

  .about-section {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-sub-section {
    display: flex;
    flex-direction: column;
  }

  .about-header {
    text-align: left;
    margin: 120px 0 0 50px;
  }

  .about-description {
    width: 570px;
    margin: 20px 0 0 50px;
  }

  .about-btn {
    margin: 40px 50px;
    width: 158px;
  }

  .about-illustration img {
    display: none;
  }

  .about-illustration {
    width: 700px;
    height: 550px;
    background: url('./assest/illustration-about-me.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    float: right;
  }

  /* SKILLS */

  .skills {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }

  /* CONTACT */

  .contact {
    display: flex;
    justify-content: space-around;
  }

  .contact-description {
    width: 450px;
  }

  form {
    width: 550px;
  }

  .form-line {
    width: 90%;
    margin: 0 auto;
    background: #fff;
  }
}
